/* App.css or Index.css */
body {
  cursor: none; /* Hides the default cursor */
}

.custom-cursor {
  position: fixed;
  pointer-events: none; /* Ensures the custom cursor doesn't interfere with clicks */
  z-index: 9999;
  /* Add any other styles for your custom cursor here */
  transition: transform 0.1s; /* Optional: smooth movement */
}
